#google-btn
  background-color: #4285F4
  font-family: 'Roboto', sans-serif
  border: none
  padding: 8px
  color: white

  &::before
    content: ''
    width: 18px
    height: 18px
    position: relative
    margin-right: 24px
    background-color: white
