<!-- <div id="login-section">
  You must login first
</div>

<br>
<hr>
<br> -->

<div id="edit-section">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">


    <!-- Select type of contribution -->
    <mat-radio-group aria-label="What would you like to add?" formControlName="type" id="resource-type-selector-container">

      <div id="resource-type-selector-header">
        <mat-label>Which type of contribution would you like to make?</mat-label>
        <button mat-icon-button
          color="primary"
          matTooltip="What does this mean?"
          matTooltipPosition="after"
          (click)="openTypeDialog()"
          type="button"
        >
          <mat-icon>information</mat-icon>
        </button>
      </div>


      <mat-radio-button value="topic" class="resource-type-selector">Topic</mat-radio-button>
      <mat-radio-button value="resource" class="resource-type-selector">Resource</mat-radio-button>

    </mat-radio-group>


    <!-- If resource, show dropdown of topics to which they  -->
    <!-- If topic, show input field for topic name -->
    <div id="type-option-container">

      <mat-form-field *ngIf="form.get('type').value === 'topic'">
        <input matInput type="text" placeholder="Topic name">
      </mat-form-field>

      <mat-form-field *ngIf="form.get('type').value === 'resource'" id="topic-selector">

        <mat-label>Pick a topic</mat-label>

        <mat-select>
          <mat-option *ngFor="let topic of topics$ | async" [value]="topic">{{ topic }}</mat-option>
        </mat-select>

      </mat-form-field>

    </div>


    <!-- Show editor -->
    <quill-editor #editor formControlName="editor" id="quill-editor" theme="snow"></quill-editor>


    <!-- Source list -->
    <div id="source-list-container">

      <div class="source-list-item" *ngFor="let source of sources">
        <span class="source-content" [matTooltip]="source">{{ source | url }}</span>
        <div class="material-icons source-remove-btn" matTooltip="Remove source">close</div>
      </div>
    </div>

    <!-- Add source input -->
    <div id="add-source-container">
      <mat-form-field id="source-url-field">
        <input matInput placeholder="Source URL" formControlName="sourceInput" (keydown.enter)="onAddSource()">
      </mat-form-field>
      <!-- <button
        mat-icon-button
        color="primary"
        (click)="openSourceDialog()"
        matTooltip="Why do we ask for sources?"
        matTooltipPosition="below">
        <mat-icon>information</mat-icon>
      </button>
      <br> -->
      <button
        mat-stroked-button
        color="primary"
        type="button"
        [disabled]="form.get('sourceInput').value === '' || !form.get('sourceInput').valid"
        (click)="onAddSource()"
      >Add source</button>
    </div>



    <!-- Submit form -->
    <button mat-raised-button color="primary" type="submit" id="submit-btn">SUBMIT {{ form.get('type').value | uppercase }}</button>

  </form>

</div>
