@import ../../../vars

header
  widht: 100vw
  text-align: center
  outline: none
  user-select: none
  background: $darkgray
  padding: 30px

  &:hover
    cursor: pointer

  #name
    font-weight: $extrabold
    font-size: 1.7em

  #tagline
    font-size: 1em
    font-weight: $bold
    color: $yellow
