<div id="contribute-detail-controls" *ngIf="(contribution$ | async) !== null && (contribution$ | async) !== undefined" (click)="onNavigateBack()">
  <i class="material-icons" id="back-btn">arrow_back_ios</i>
  <h2 id="title">Back to overview</h2>
</div>

<div id="contribution-content">
  <p class="cont-row"><span>Type:</span> {{ (contribution$ | async)?.type }}</p>
  <p class="cont-row"><span>Topic:</span> {{ (contribution$ | async)?.topic }}</p>
  <div class="cont-row content-title">
    <p><span>Content:</span></p>
    <p [innerHTML]="(contribution$ | async)?.content | contributionMarkdown"></p>
  </div>
  <div class="cont-row sources-title">
    <p><span>Sources:</span> </p>
    <a class="cont-sources" *ngFor="let source of (contribution$ | async)?.sources" href="{{ source }}"><i class="material-icons url-icon">link</i> {{ source | contributionUrl }}</a>
  </div>
</div>




<div *ngIf="(contribution$ | async) as contribution">
  <button class="vote-btn" (click)="onVote(contribution.id)">VOTE!</button>
</div>
