<h1 mat-dialog-title>Contribution types</h1>

<mat-dialog-content>

  <p>
   There are two different types of contributions you can make, these are:
  </p>

  <br>

  <p>
    <strong>Topics</strong> <br>
    Topics are high-level descriptions, like "Racism in the workplace" or "Job opportunities".
    When adding a topic, we also ask that you include at least <i>one</i> resource, so the topic isn't empty.
  </p>

  <br>

  <p>
    <strong>Resources</strong> <br>
    Resources contain the actual information. A resource should be as brief as possible. An example of a resource would be "It's X% more likely for POC to be the subject of Y".
  </p>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close>Ok, got it!</button>
</mat-dialog-actions>
