<div id="topic-detail-controls" *ngIf="(topic$ | async) !== null && (topic$ | async) !== undefined">
  <i class="material-icons" id="back-btn" [routerLink]="['/']">arrow_back_ios</i>
  <h1 id="title"> {{ (topic$ | async)?.title }} </h1>
</div>

<div id="topic-title">
  <h2>Topic name goes here? Of toch maar niet?</h2>
</div>

<div id="topic-data" *ngIf="(topic$ | async) !== null && (topic$ | async) !== undefined" [innerHTML]="(topic$ | async)?.message | markdown"></div>

<div id="btn-container">
  <div class="share-btn">
    <a href="#">Share</a>
  </div>
  <div class="useful-btn">
    <a href="#">Useful</a>
  </div>
</div>
