@import ../../../vars

#topic-detail-controls
  display: flex
  align-items: center
  padding: 20px 0
  border-bottom: 2px solid rgba($gray, .3)
  position: sticky
  top: 0
  background: black
  display: none
  z-index: 1

  @media (screen and max-width: $res-s)
    display: flex
    margin-top: -20px

  #back-btn
    margin: 0 10px
    color: $yellow
    transition: all .2s ease
    user-select: none
    outline: none !important
    -webkit-tap-highlight-color: transparent

    &:hover
      color: #fff
      cursor: pointer

#topic-title
  margin: 20px 0

  &::after
    width: 50%
    height: 4px
    background-color: $yellow
    margin: 10px auto
    position: relative
    content: ''
    display: block

#topic-data
  line-height: 1.6em
  font-weight: $regular

#sources-toggle
  display: flex
  justify-content: center
  margin-top: 30px

  #sources-toggle-btn
    color: $gray
    text-decoration: none
    font-weight: $bold
    display: flex
    align-items: center
    transition: all .2s ease
    cursor: pointer

    i
      padding-right: 3px

    &:hover
      color: white

#sources-container
  background-color: $darkgray
  margin: 15px 0

  .source
    display: flex
    border-bottom: 1px solid black

    a
      display: flex
      padding: 15px
      width: 100%
      align-items: center
      text-decoration: none
      color: lighten($gray, 20%)
      transition: all .2s ease
      font-weight: $bold

      &:hover
        color: white
        background: lighten($darkgray, 2%)

      i
        transform: rotate(-45deg)
        padding-right: 3px


#btn-container
  width: 100%
  background: black
  display: flex
  position: sticky
  bottom: 0
  padding: 15px 0
  margin-top: 30px

  div
    width: 45%

    &.share-btn
      margin: 0 5% 0 0

      a
        color: black
        background-color: $yellow
        border: 5px solid $yellow


        &:hover
          background-color: white
          border: 5px solid white

    &.useful-btn
      margin: 0 0 0 5%

      a
        color: white
        background-color: black
        border: 5px solid white
        display: flex
        justify-content: center
        align-items: center

        &:hover
          background-color: white
          color: black

          &::before
            background-image: url('src/assets/fist-b.svg')

        &::before
          content: ''
          width: 25px
          height: 25px
          padding-right: 3px
          position: relative
          background-image: url('src/assets/fist.svg')
          background-repeat: no-repeat
          bakground-position: center center
          transition: all .2s ease

    a
      display: block
      font-size: 1.2em
      font-weight: $extrabold
      padding: 10px 20px
      text-align: center
      text-transform: uppercase
      text-decoration: none
      background: pink
      transition: all .2s ease


