<div id="topic-detail-controls" *ngIf="(topic$ | async) !== null && (topic$ | async) !== undefined" (click)="onNavigateBack()">
  <i class="material-icons" id="back-btn">arrow_back_ios</i>
  <h2 id="title">Back to overview</h2>
</div>

<div id="topic-title">
  <h1>{{ (topic$ | async)?.title }}</h1>
</div>

<div id="topic-data" *ngIf="(topic$ | async) !== null && (topic$ | async) !== undefined" [innerHTML]="(topic$ | async)?.message | markdown"></div>

<div id="sources-toggle">
  <div id="sources-toggle-btn" (click)="toggleSources('sources')" ><i class="material-icons" id="source-icon">bookmark</i> View sources</div>
</div>
<div id="sources-container" class="sources">
  <div class="source">
    <a href="" target="_blank"><i class="material-icons url-icon">link</i> Lorem ipsum dolor</a>
  </div>
  <div class="source">
    <a href="" target="_blank"><i class="material-icons url-icon">link</i> Lorem ipsum dolor</a>
  </div>
  <div class="source">
    <a href="" target="_blank"><i class="material-icons url-icon">link</i> Lorem ipsum dolor</a>
  </div>
  <div class="source">
    <a href="" target="_blank"><i class="material-icons url-icon">link</i> Lorem ipsum dolor</a>
  </div>
</div>

<div id="btn-container">
  <div class="share-btn">
    <a href="#">Share</a>
  </div>
  <div class="useful-btn" *ngIf="(topic$ | async) as topic">
    <a (click)="onVote(topic.id)">Useful</a>
  </div>
</div>
