@import ../../../vars

a
  text-decoration: none
  transition: color .2s ease

footer
  display: flex
  margin: 0 auto
  padding: 30px
  align-items: center
  justify-content: space-between

  background-color: $darkgray

  @media (screen and max-width: $res-s)
    flex-direction: column
    align-items: center
    text-align: center

    .footer-column
      margin-top: 30px

    &:first-of-type
      margin-top: 0

  .footer-column
    display: flex
    height: 100%
    flex-direction: column
    justify-content: center

    a
      color: $gray
      font-weight: $bold
      padding: 5px 0


      &:hover
        color: #fff

  #col-1

    a
      color: #fff

      &:hover
        color: $yellow

    #blm
      font-size: 1.7em
      font-weight: $extrabold

    #blm-subtext
      color: $yellow
      font-size: 1.1em
      font-weight: $bold

  #col-2
    #missing-something-header
      margin-bottom: 10px
