@import ../../../vars

a
  text-decoration: none
  transition: color .2s ease

footer
  display: flex
  max-width: 1200px
  margin: 0 auto
  align-items: center
  justify-content: space-between

  @media (screen and max-width: $res-s)
    flex-direction: column
    align-items: start

    .footer-column
      margin-top: 40px

    &:first-of-type
      margin-top: 0

  .footer-column
    display: flex
    height: 100%
    flex-direction: column
    justify-content: center

    a
      color: $gray

      &:hover
        color: #fff

  #col-1

    a
      color: #fff

      &:hover
        color: $yellow

    #blm
      font-size: 2em
      font-weight: bold

    #blm-subtext
      color: $yellow

  #col-2
    #missing-something-header
      margin-bottom: 10px
