<footer>

  <div id="col-1" class="footer-column">
    <!-- External page link -->
    <a href="https://www.blacklivesmatter.space/" target="_blank" title="Find ways to support the movement" id="donate-link">
      <div id="blm">#BlackLivesMatter</div>
      <div id="blm-subtext">Support the movement!</div>
    </a>
  </div>

  <div id="col-2" class="footer-column">
    <div id="missing-something-header">Missing something?</div>
    <app-tweet></app-tweet>
  </div>

  <div id="col-3" class="footer-column">
    <!-- Internal page links -->
    <a (click)="onLogout()" *ngIf="(afAuth.authState | async)">Logout</a>
    <a href="" class="page-link">About</a>
    <a href="" class="page-link">Privacy Policy</a>
  </div>

</footer>
