// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Open+Sans:wght@400;700&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800;900&family=Roboto:wght@500&display=swap')

@import ./vars

*
  margin: 0
  padding: 0
  -webkit-tap-highlight-color: transparent !important

html, body
  background: #000
  color: #fff
  font-family: 'Montserrat', sans-serif
  overflow-x: hidden

  h2
    font-size: 1.2em


  h1
    font-size: 1.7em
    text-transform: uppercase
    font-weight: $extrabold
    text-align: center

::selection
  color: black
  background: $yellow

.ql-editor
  min-height: 200px
  font-family: 'Montserrat', sans-serif
  font-size: 16px

.ql-container
  border: 1px solid rgba($gray, .6) !important
  border-top: none !important

.ql-toolbar
  border: 1px solid rgba($gray, .6) !important

  button
    &:hover, &.ql-active
      color: $yellow !important

      svg
        path, line, rect
          stroke: $yellow !important



.mat-select-panel, .mat-primary
  border-radius: 0px !important
  font-size: 16px

::not(.mat-icon-button), .mat-primary[type=button], .mat-primary[type=submit]
    padding: 5px 20px !important

#submit-btn
  font-weight: $extrabold

  &:hover:not([disabled=true])
    background-color: white
