<div id="main-content" *ngIf="(topics$ | async) !== null">
  <ul id="topic-list" [ngClass]="{ disabled: chosenTopicURL !== undefined }">
    <h2>Browse topics</h2>
    <li
      class="topic-list-item"
      *ngFor="let topic of topics$ | async"
      [routerLink]="['/', topic.url]"
      [ngClass]="{ highlight: chosenTopicURL === topic.url }"
    >
      <span>{{ topic.title }}</span>
      <i class="material-icons">keyboard_arrow_right</i>
    </li>
  </ul>

  <div id="topic-details" [ngClass]="{ activated: chosenTopicURL !== undefined }">
    <router-outlet></router-outlet>
  </div>
</div>
