<h1 mat-dialog-title>Sources</h1>

<mat-dialog-content>
  <p>
    Our goal is to create a reliable source of information for everyone.
    For this reason, we check all contributions manually before they are added to the main overview.
  </p>
  <br>
  <p>
    By listing one or more of your sources, you can help us to verify your contribution as quickly as possible!
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close>Ok, got it!</button>
</mat-dialog-actions>
