@import ../../vars

:host
  height: 100%
  width: 100%

#main-content
  max-width: 1200px
  margin: 100px auto
  display: flex
  height: 100%

  @media (screen and max-width: $res-s)
    display: block

  #contribution-list
    width: 40%
    min-width: 40%
    list-style-type: none
    padding-right: 40px
    overflow: hidden

    @media (screen and max-width: $res-s)
      width: 100%
      min-width: 100%
      padding: 0

      &.disabled
        width: 0% !important
        min-width: 0% !important
        padding: 0

  #detail-section
    width: 60%
    height: 100%
    overflow-x: hidden

    @media (screen and max-width: $res-s)
      width: 100%
      min-width: 100%
      padding: 0

    @media (screen and max-width: $res-s)
      width: 100%
      min-width: 100%
      padding: 0

