<div id="main-content">


  <!-- List view of recently added resources -->
  <ul id="contribution-list" [ngClass]="{'disabled': chosenContribution !== undefined}">
    overview


    <li class="topic-list-item" *ngFor="let topic of topics$ | async" [routerLink]="['/', topic.title]" [ngClass]="{'highlight': chosenTopic === topic.title}">
      <span>{{ topic.title }}</span>
      <i class="material-icons">keyboard_arrow_right</i>
    </li>
  </ul>





  <!-- Router outlet -->
  <!-- Shows either the selected resource or the editor/login page -->
  <router-outlet></router-outlet>



</div>


