<div id="main-content" *ngIf="(contributions$ | async) !== null">
  <!-- List view of recently added resources -->
  <ul id="contribution-list" [ngClass]="{ disabled: chosenContributionID !== undefined }" [@contributeList]="viewState">

    <button id="contribute-btn" [routerLink]="['/contribute/edit']">CONTRIBUTE</button>

    <h2>Recent contributions</h2>
    <li
      class="topic-list-item"
      *ngFor="let contribution of contributions$ | async"
      [routerLink]="['/contribute', contribution.id]"
    >
      <p class="contribution-type">{{ contribution.type }}</p>
      <h3 class="contribution-topic">{{ contribution.topic }}</h3>
      <p class="contribution-text">{{ (contribution.content | sanitizeMarkdown | slice: 0:50) + "..." }}</p>
      <p class="contribution-votes">{{ contribution.votes }}</p>

      <!-- <i class="material-icons">keyboard_arrow_right</i> -->
    </li>
  </ul>

  <!-- Router outlet -->
  <!-- Shows either the selected resource or the editor/login page -->
  <div id="detail-section" [ngClass]="{ activated: chosenContributionID !== undefined }" [@contributeDetail]="viewState">
    <router-outlet></router-outlet>
  </div>
</div>

